@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.form {
  display: flex;
  justify-content: center;
  position: relative;
  top:15vh;
  height: 400px;
  display: none;
}
form{
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}
form input{
  border: 2px black solid;
  border-radius: 25px;
  padding: 5px;
}
form div{
  margin-bottom: 30px;
}
form button{
  border: 1px solid lightgreen;
  border-radius: 25px;
  background-color: lightgreen;
  width:100px;
  height:35px;
  font-size: 1em;
}
.submit{
  display: flex;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 2.3em;
  background-color: white;
  align-items: center;
  height:10vh;
}
body{
  background-color: rgb(221, 221, 221);
}
.addBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#add{
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 25px;
  width:10em;
  height:3em;
  font-size: 1em;
}
#add:hover{
  background-color: white;
  border: 2px solid white;
}
button:hover{
  cursor: pointer;
}
.container{
  width:75vw;
  position: relative;
  left: 15em;
  top:5em;
}